body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:697px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u1840 {
  position:absolute;
  left:300px;
  top:30px;
  width:397px;
  height:803px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:394px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:19px;
}
#u1842 {
  position:absolute;
  left:343px;
  top:145px;
  width:319px;
  height:19px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:343px;
  top:201px;
  width:319px;
  height:520px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:252px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:37px;
}
#u1846 {
  position:absolute;
  left:343px;
  top:164px;
  width:319px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1848 {
  position:absolute;
  left:347px;
  top:174px;
  width:16px;
  height:16px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1850 {
  position:absolute;
  left:343px;
  top:201px;
  width:319px;
  height:1px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:67px;
}
#u1852 {
  position:absolute;
  left:353px;
  top:240px;
  width:300px;
  height:67px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1854 {
  position:absolute;
  left:353px;
  top:212px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#33CCFF;
}
#u1856 {
  position:absolute;
  left:372px;
  top:260px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#33CCFF;
}
#u1857 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1858 {
  position:absolute;
  left:440px;
  top:260px;
  width:59px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
}
#u1860 {
  position:absolute;
  left:353px;
  top:345px;
  width:300px;
  height:168px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1862 {
  position:absolute;
  left:353px;
  top:317px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1864 {
  position:absolute;
  left:362px;
  top:357px;
  width:283px;
  height:73px;
}
#u1864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:73px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:53px;
}
#u1865 {
  position:absolute;
  left:362px;
  top:446px;
  width:60px;
  height:53px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
}
#u1867 {
  position:absolute;
  left:353px;
  top:553px;
  width:300px;
  height:55px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1869 {
  position:absolute;
  left:353px;
  top:525px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1871 {
  position:absolute;
  left:362px;
  top:568px;
  width:277px;
  height:25px;
}
#u1871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1872 {
  position:absolute;
  left:406px;
  top:638px;
  width:194px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1873 {
  position:absolute;
  left:2px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#33CCFF;
}
#u1874 {
  position:absolute;
  left:593px;
  top:174px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#33CCFF;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1876 {
  position:absolute;
  left:576px;
  top:260px;
  width:55px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1878 {
  position:absolute;
  left:509px;
  top:260px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
