body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u1930 {
  position:absolute;
  left:300px;
  top:30px;
  width:397px;
  height:803px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:394px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:19px;
}
#u1932 {
  position:absolute;
  left:343px;
  top:145px;
  width:319px;
  height:19px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:37px;
}
#u1934 {
  position:absolute;
  left:343px;
  top:164px;
  width:319px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1936 {
  position:absolute;
  left:347px;
  top:174px;
  width:16px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:519px;
}
#u1938 {
  position:absolute;
  left:343px;
  top:201px;
  width:318px;
  height:519px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1940 {
  position:absolute;
  left:343px;
  top:201px;
  width:319px;
  height:1px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1942 {
  position:absolute;
  left:582px;
  top:674px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:114px;
}
#u1944 {
  position:absolute;
  left:353px;
  top:272px;
  width:85px;
  height:114px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:49px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:353px;
  top:220px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:129px;
}
#u1948 {
  position:absolute;
  left:448px;
  top:265px;
  width:111px;
  height:129px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:56px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:114px;
}
#u1950 {
  position:absolute;
  left:568px;
  top:274px;
  width:85px;
  height:114px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:49px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1952 {
  position:absolute;
  left:383px;
  top:386px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1954 {
  position:absolute;
  left:486px;
  top:394px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1956 {
  position:absolute;
  left:605px;
  top:388px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:115px;
}
#u1958 {
  position:absolute;
  left:443px;
  top:468px;
  width:119px;
  height:115px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:50px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1960 {
  position:absolute;
  left:446px;
  top:590px;
  width:111px;
  height:14px;
  font-size:10px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:717px;
  top:413px;
  width:258px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:2px;
  top:32px;
  width:254px;
  word-wrap:break-word;
}
